<div class="card mt-5 shadow-effect mb-3">
  <div class="card-body">
    <h4 class="comment-text">Leave a Comment</h4>
    <p class="comment-text">You Can Leave a comment using this comment form</p>

    <form>
      <div class="form-group">
        <label for="name" class="mb-1">Name</label>
        <input id="name" type="text" class="form-control shadow-effect mb-3" placeholder="Enter Your Name Here">
      </div>
      <div class="form-group">
        <label for="comment-area" class="mb-1">Comment</label>
        <textarea id="comment-area" cols="30" rows="10" class="form-control shadow-effect mb-3" placeholder="Add your comment here"></textarea>
      </div>
      <button class="btn btn-info text-white btn-theme w-25">Add a Comment</button>
    </form>
  </div>
</div>