<section>
  <div class="container mt-5 p-5 bg-theme">
    <h1 class="text-white text-center mt-1">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theme ">
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt modi soluta iure dolorum laborum ipsam tenetur sint omnis non deserunt assumenda possimus doloribus ipsum nulla autem esse at, alias illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias beatae quibusdam veritatis dolor deleniti!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt modi soluta iure dolorum laborum ipsam tenetur sint omnis non deserunt assumenda possimus doloribus ipsum nulla autem esse at, alias illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias beatae quibusdam veritatis dolor deleniti!</p>
      <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Incidunt modi soluta iure dolorum laborum ipsam tenetur sint omnis non deserunt assumenda possimus doloribus ipsum nulla autem esse at, alias illo. Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores alias beatae quibusdam veritatis dolor deleniti!</p>

      <div class="text-center">
        <button class="btn  btn-sm mt-4 btn-theme text-white w-25">Back to Home</button>
      </div>
    </div>
  </div>
</section>
